.travelers__list {
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 41px;
    padding-right: 34px;
    padding-left: 34px;
  }

  @media(min-width: $desktop-width) {
    grid-area: travelers-list;
    padding-right: 0;
    padding-left: 0;
  }
}
