.feedback__help {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}
