.tariffs__subtitle {
  font-size: 24px;
  line-height: 24px;
  width: 160px;
  color: #ff8d30;
  margin-bottom: 40px;
  padding-left: 25px;

  @media(min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    width: auto;
    text-align: center;
    margin-bottom: 73px;
    padding-left: 0;
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}
