.about__advice {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
    line-height: 24px;
    margin-bottom: 85px;
  }
}
