.contacts {
  color: #192144;
  line-height: 18px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-left: 57px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 130px;
  }
}

.contacts__phone {
  position: relative;
  margin-bottom: 27px;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding-left: 91px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
    left: 0;
    top: -14px;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      top: -20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    background-image: url("../img/decorative/icon-telephone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 14px;

    @media (min-width: $tablet-width) {
      width: 27px;
      height: 25px;
      background-image: url("../img/decorative/icon-telephone-tablet.svg");
      left: 20px;
    }
  }
}

.contacts__mail {
  position: relative;
  text-transform: uppercase;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    padding-left: 91px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
    left: 0;
    top: -14px;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      top: -20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 25px;
    background-image: url("../img/decorative/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 11px;
    top: -4px;

    @media (min-width: $tablet-width) {
      width: 35px;
      height: 37px;
      background-image: url("../img/decorative/icon-mail-tablet.svg");
      left: 15px;
      top: -6px;
    }
  }
}
