$background-sapphire-blue: #161c35;
$white-color: #ffffff;
$basic-yellow: #ffd74b;
$special_yellow_dark: #FFBD30;
$basic-blue: #161c35;
$dark-blue: #192144;
$first-background-color: #182044;
$special_orange: #ff8d30;
$basic-blue-light: #1d2e5b;
$special-grey: #444444;
$basic-black: #000000;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
