.about {
  margin-top: -41px;
  background-color: #EDEFF6;

  @media (min-width: $desktop-width) {
    margin-top: 0px;
  }
}

.about__wrapper {
  background: url('../../img/background/about-mobile-img.png') no-repeat right 8px center, url('../../img/background/mobile-black-figure-in-about.png') no-repeat 0 0;

  @media (min-width: $tablet-width) {
    background: url('../../img/background/about-tablet-img.png') no-repeat right 9px top 50px, url('../../img/background/tablet-black-figure-in-about.png') no-repeat top;
  }

  @media (min-width: $desktop-width) {
    background: url('../../img/background/about-desktop-img.png') no-repeat right 59px center, url('../../img/background/desktop-black-figure-in-about.png') no-repeat top -15px left 60px;
  }

}

.about__background {
  background-color: $dark-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
