.tariffs__number {
  position: relative;
  margin-bottom: 52px;

  &::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    right: -13px;
    bottom: -7px;
    background-color: #ff8d30;
    z-index: -1;

    @media(min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      right: -27px;
      bottom: -16px;
    }
  }

  @media(min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tariffs__number--orange::after {
  background-color: #ff8d30;
}

.tariffs__number--yellow-dark::after {
  background-color: #FFBD30;
}

.tariffs__number--yellow::after {
  background-color: #FFD74B;
}
